*,
*:before,
*:after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html,
body {
 font-family: 'Roboto', sans-serif;
 background: #f4f4f4;
 color: #141414;
}

.character-item {
  display: flex;
  flex-wrap: wrap;
}